body{

background:#111827;

color:white;

font-family:Arial;

}


.container{

width:800px;

margin:auto;

padding:30px;

}



.card{

background:#1f2937;

padding:20px;

margin:20px 0;

border-radius:10px;

}



input,select{

padding:10px;

margin:5px;

}


button{

padding:10px 15px;

cursor:pointer;

}



.asset{

display:flex;

justify-content:space-between;

padding:10px;

background:#374151;

margin:5px;

border-radius:5px;

}


pre{

background:#000;

padding:15px;

overflow:auto;

}
